@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500;600;800&family=Roboto+Serif:ital,opsz,wght@0,8..144,300;0,8..144,900;1,8..144,300;1,8..144,700&display=swap');

:root{
    --primary: #0E21A0;
    --secondary: #4D2DB7;
    --purple: #9D44C0;
    --pink: #EC53B0;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    font-family: 'Roboto Serif', serif;
    
}

.banner {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right, #4e44a3, #3498db);
    color: white;
    display: flex;
    font-size: 24px;
    text-align: center;
    position: relative;
}

.left-content, .right-content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.left-content{
    flex-direction: column;
    gap: 3rem;
}

.Welcome-Text{
    font-size: 100px;
    font-weight: bold;
    color: #ff9900; /* Choose a color that matches your design */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    letter-spacing: 2px; /* Adjust to stretch the letters a little */
    display: inline-block; /* Allow for scaling using transform */
    background-color: transparent;
    border: none;
    transform: scaleY(1.2); /* Adjust the scale factor for horizontal stretching */
    
}

.Welcome-Text:hover{
    cursor: pointer;    
}

.Description{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    letter-spacing: 2px; /* Adjust to stretch the letters a little */
    display: inline-block; /* Allow for scaling using transform */
    transform: scaleY(1.2); /* Adjust the scale factor for horizontal stretching */
}

.rounded-backgroup{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #3498db, #4e44a3);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    position: relative;
}

.my-avatar{
    margin-top: -25px;
    justify-content: center;
    border-radius: 50%;
    height: 326px;
    width: 309px;
}

/* Project Section start */

.container{
    height: 492px;
    margin: 0 auto;
    margin-top: .5rem;    
}
.first{
    background-color: #0E21A0;
}
.second{
    background-color: #3498db;
}
.btns{
    width: 300px;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 10px;
}
.btns a {
    text-decoration: none;
    color: rgb(214, 211, 211);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 5px 16px;
    transition: .5s;
    border-radius: 10px;
}


.btns a:nth-child(1) {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: var(--secondary);
}


.btns a:nth-child(2) {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid var(--secondary);
}
.btns a:nth-child(1):hover,
.btns a:nth-child(1):active{
    text-decoration: none;
    outline: none;
    color: #ff9900;
    background-color: transparent;
    border: 1px solid var(--secondary);
}

.btns a:hover:nth-child(2),
.btns a:active:nth-child(2) {
    text-decoration: none;
    outline: none;
    color: #ff9900;
    background-color: var(--secondary);
}