@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500;600;800&family=Roboto+Serif:ital,opsz,wght@0,8..144,300;0,8..144,900;1,8..144,300;1,8..144,700&display=swap');

:root{
    --primary: #0E21A0;
    --secondary: #4D2DB7;
    --purple: #9D44C0;
    --pink: #EC53B0;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'EB Garamond', serif;
    font-family: 'Roboto Serif', serif;
    
}

.banner {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right, #4e44a3, #3498db);
    color: white;
    display: flex;
    font-size: 24px;
    text-align: center;
    position: relative;
}

.left-content, .right-content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.left-content{
    flex-direction: column;
    gap: 3rem;
}

.Welcome-Text{
    font-size: 100px;
    font-weight: bold;
    color: #ff9900; /* Choose a color that matches your design */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    letter-spacing: 2px; /* Adjust to stretch the letters a little */
    display: inline-block; /* Allow for scaling using transform */
    background-color: transparent;
    border: none;
    transform: scaleY(1.2); /* Adjust the scale factor for horizontal stretching */
    
}

.Welcome-Text:hover{
    cursor: pointer;    
}

.Description{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    letter-spacing: 2px; /* Adjust to stretch the letters a little */
    display: inline-block; /* Allow for scaling using transform */
    transform: scaleY(1.2); /* Adjust the scale factor for horizontal stretching */
}

.rounded-backgroup{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #3498db, #4e44a3);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    position: relative;
}

.my-avatar{
    margin-top: -25px;
    justify-content: center;
    border-radius: 50%;
    height: 326px;
    width: 309px;
}

/* Project Section start */

.projects{
    width: calc(100vw - 18px);
    height: 100vh;
}

.carousel-main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 492px;
    margin: 25px auto;
    color: var(--primary); 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    /* position: relative; */
}
.container-item h1 {
    font-size: 60px;
    word-spacing: 3px;
    letter-spacing: 5px;
    line-height: 2;
}

.container-item h3{
    word-spacing: 3px;
    letter-spacing: 5px;
    line-height: 2;
    margin-bottom: 25px;
}

.container-item p{
    word-spacing: 3px;
    letter-spacing: 3px;
    line-height: 2;
}


.btns{
    width: 300px;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 10px;
}
.btns a {
    text-decoration: none;
    color: rgb(214, 211, 211);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 5px 16px;
    transition: .5s;
    border-radius: 10px;
}


.btns a:nth-child(1) {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: var(--secondary);
}


.btns a:nth-child(2) {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid var(--secondary);
}
.btns a:nth-child(1):hover,
.btns a:nth-child(1):active{
    text-decoration: none;
    outline: none;
    color: #ff9900;
    background-color: transparent;
    border: 1px solid var(--secondary);
}

.btns a:hover:nth-child(2),
.btns a:active:nth-child(2) {
    text-decoration: none;
    outline: none;
    color: #ff9900;
    background-color: var(--secondary);
}

.social{
    width: 200px;
    height: 30px;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 25px;
}

.social a {
    font-size: 25px;
    width: auto;
    height: 100%;
    
    transition: transform 0.3s ease;
}

.social a i {
    color: var(--primary);
    transition: transform 0.3s ease;
}
.social a i:hover{
    color: #ff9900;
}

.social a:hover {
    transform: translateY(-5px);
}

.footer{
    width: calc(100vw - 18px);
    background-color:  #ff9900;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 20px 20px 0 0;
}

.footer .right,
.footer .left{
    height: 100%;
    width: 40%;
}

.email,
.phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right h2{
    font-weight: 500;
    letter-spacing: .5rem;
    margin-bottom: 15px;
}

.email h4,
.phone h4{
    font-weight: 500;
    letter-spacing: .5rem;
    margin-bottom: 15px;
}


.email h6,
.phone h6{
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 15px;
}

.social-links{
    width: 100%;
    padding: 0.7rem;
}

.social-links a {
    display: inline-flex;
    height: 100%;
    font-size: 25px;
    margin-left: 1rem;
    
    transition: .3s all;
}

.social-links a i {
    color: var(--primary);
}

.social-links a:hover{
    color: var(--secondary);
    transform: translateY(-15px);
}